# Google AdSense 配置
NEXT_PUBLIC_ADSENSE_PUBLISHER_ID=ca-pub-7143421934912272
NEXT_PUBLIC_ADSENSE_HOMEPAGE_SLOT_ID=
NEXT_PUBLIC_ADSENSE_DETAIL_SLOT_ID=
NEXT_PUBLIC_ADSENSE_DETAIL_BOTTOM_SLOT_ID=
NEXT_PUBLIC_ADSENSE_INTERSTITIAL_SLOT_ID=
